@page "/"
@using IconGeneratorAI.WebApp.Client.Components
@using IconGeneratorAI.Persistence.EntityFramework.Contexts
@using IconGeneratorAI.WebApp.Models
@using Microsoft.EntityFrameworkCore

<PageTitle>Icon Generator AI | THE BEST ICON GENERATOR</PageTitle>

<div class="min-h-screen flex items-center justify-center">
    <div class="card bg-base-200 shadow-xl">
        <div class="card-body">
            <div class="mx-auto max-w-5xl px-6 py-10 text-center md:px-12 md:py-16">
                <h1 class="text-3xl leading-[52px] font-semibold md:text-4xl lg:text-5xl">
                    Generate Stunning App Icons in Seconds<br>
                    <div class="sm:mt-2">
                        <span class="underline decoration-primary underline-offset-4">
                            No Design Skills Needed
                        </span>
                    </div>
                </h1>
                <p class="mt-4 text-lg font-medium leading-2 md:text-xl">
                    Create unique and professional icons in seconds with the power of artificial intelligence.
                    Start now for modern icons that will make your brand or project stand out.
                </p>
                <div class="mt-8 flex justify-center gap-2">
                    <a href="/create-icon">
                        <button class="btn btn-primary">
                            <div class="flex items-center justify-center">
                                <div class=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="currentColor" viewBox="0 0 256 256">
                                        <path
                                            d="M232.49,215.51,185,168a92.12,92.12,0,1,0-17,17l47.53,47.54a12,12,0,0,0,17-17ZM44,112a68,68,0,1,1,68,68A68.07,68.07,0,0,1,44,112Z">
                                        </path>
                                    </svg>
                                </div>Create Your Icon
                            </div>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
