<div class="navbar bg-base-100 container mx-auto">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <AuthorizeView>
                    <Authorized>
                        <li>
                            <NavLink class="nav-link text-lg" href="/create-icon">Generate</NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized />
                </AuthorizeView>

                <li>
                    <NavLink class="nav-link text-lg" href="/community">Community</NavLink>
                </li>


                <li>
                    <NavLink class="nav-link text-lg" href="/about">About</NavLink>
                </li>
            </ul>
        </div>
        <NavLink class="btn btn-ghost text-xl" href="/">Icon Generator AI</NavLink>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <AuthorizeView>
                <Authorized>
                    <li>
                        <NavLink class="nav-link text-lg" href="/create-icon">Generate</NavLink>
                    </li>
                </Authorized>
                <NotAuthorized />
            </AuthorizeView>

            <li>
                <NavLink class="nav-link text-lg" href="/community">Community</NavLink>
            </li>

            <li>
                <NavLink class="nav-link text-lg" href="/about">About</NavLink>
            </li>
        </ul>
    </div>
    <div class="navbar-end">

        <AuthorizeView>
            <Authorized>
                <NavLink class="btn btn-outline btn-secondary" href="/Account/Logout">Logout</NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="btn btn-outline btn-secondary" href="/Account/Login">Login</NavLink>
            </NotAuthorized>
        </AuthorizeView>

    </div>
</div>