<div
    class="bg-gradient-to-br from-neutral to-base-300 min-h-screen flex items-center justify-center py-8 relative overflow-hidden">
    <div class="container mx-auto text-center px-4 relative z-10">
        <h1 class="text-5xl md:text-6xl font-extrabold text-primary leading-tight animate-fade-in-down">
            Your App Icon Could Be Worth Millions—Don't Settle For Less
        </h1>
        <p class="mt-6 text-xl text-neutral-content/80 max-w-2xl mx-auto">
            Launch your dream app with an icon that screams "100M Brand." Transform your look in minutes—no design
            skills, no stress.
        </p>
        <div class="mt-8 flex justify-center gap-4">
            <NavLink href="/create-icon"
                class="btn btn-primary btn-lg shadow-lg hover:scale-105 transition-transform duration-200">
                See It in Action
            </NavLink>
            <NavLink href="/create-icon"
                class="btn btn-outline btn-lg text-primary hover:bg-primary hover:text-white transition-all duration-200">
                Get Started Now
            </NavLink>
        </div>
    </div>
    <img src="/icons/drooling-face.svg" alt="Icon 1"
        class="absolute top-5 right-5 w-20 h-20 z-0 animate-float delay-1000">
    <img src="/icons/rocket.svg" alt="Icon 3" class="absolute bottom-20 left-5 w-24 h-24 z-0 animate-float delay-2000">
    <img src="/icons/hundred-points.svg" alt="Icon 4"
        class="absolute top-32 left-10 w-20 h-20 z-0 animate-float delay-3000">
    <img src="/icons/star-struck.svg" alt="Icon 5" class="absolute bottom-40  w-24 h-24 z-0 animate-float delay-4000">
    <img src="/icons/lightning.svg" alt="Icon 6" class="absolute top-10 w-28 h-28 z-0 animate-float delay-5000">
    <img src="/icons/fire.svg" alt="Icon 8" class="absolute bottom-60 right-60 w-32 h-32 z-0 animate-float delay-7000">
</div>